<form class="form-inline  col-8 p-0 mx-auto my-5 ">
  <input class="form-control orangeBorder form-control-sm mr-2 col-11" type="text" placeholder="Search"
    aria-label="Search" (input)="Search($event)">
  <i class="fas fa-search orangeColor" aria-hidden="true"></i>
</form>






<div class="container  col-8 p-0 mx-auto pt-5">
  <div class="row m-0 p-0">
    <div style="width: 300px;  margin-left: 10px; margin-top:20px ;" class="card-deck" *ngFor="let prod of Products">
      <div class="card text-white bg-dark mb-3">
        <img src="http://localhost:3000/uploads//{{prod.productimage}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">
            Title : {{
              prod.title
              
          }}
          </h5>
          <p class="card-text">
            price :
            {{
                prod.price
                
            }}
          </p>
        </div>
        <a href="#" class="btn  " routerLinkActive="active" [routerLink]="prod._id"
          style="width: 150px; text-align: center; margin-left: 20px; background-color: #f16821;">More Details</a>
        <div class="card-footer">
          <small class="text-muted"> {{
            prod.details
            
        }}</small>
        </div>
      </div>
    </div>
  </div>
</div>