.roundedTop{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.roundedBottom{
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.shadow{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 15px;
}
.tableheadcolor{
    background-color: rgb(220, 244, 248);
}

.statusWidth{
    width: 90%;
}