<div  class="bg-dark orangeColor offset-1 col-10 offset-lg-2 col-lg-8 shadow mt-5 p-5 rounded-top rounded-bottom mb-5" *ngIf="orders.length == 0">
    <h4 class="text-center ">No orders yet!</h4>
</div>

<div class="offset-xl-2 offset-md-1 col-md-10 col-xl-8 col-10 offset-1  mt-5 mt-md-3  p-0 mb-5" *ngIf="orders.length != 0">
    <div class="bg-white row d-block m-0 p-0 shadow rounded-bottom text-center text-md-left">
        <div class="row p-0 pl-3 pr-2 pt-3  m-0 tablehead bg-dark rounded-top  d-none d-md-flex">
            <div class="col-1 p-0">
                <p class="ml-0 " >Order</p>
            </div>
            <div class="col-2 p-0">
                <p>Date</p>
            </div>
            <div class="col-2 p-0">
                <p>Customer</p>
            </div>
            <div class="col-1 p-0">
                <p class="mr-xl-2">Total Price</p>
            </div>
            <div class="col-2 p-0">
                <p>Status</p>
            </div>
            <div class="col-2 p-0">
            </div>
            <div class="col-2 p-0">
            </div>
            <hr class="col-12 p-0 m-0">
        </div>

        <div class="row p-0 mb-5 pl-md-3 mb-md-0 pr-md-2 pt-md-3 m-0 rowHover " *ngFor="let order of orders; let i=index" (click)='showDetails($event, order._id)'>
            <div class="col-12 col-md-1 p-0 mb-md-0 mb-4 cardHead d-md-none">
                <p class=" h2 d-md-none font-weight-bold my-3">Order #{{i+1}}</p>
            </div>
            <div class="col-12 col-md-1 p-0 mb-md-0 mb-4 d-none d-md-flex">
                <p class="ml-2 h5 mb-5 mb-md-0" >#{{i+1}}</p>
            </div>
            <div class="col-12 col-md-2 p-0 d-block d-sm-flex d-md-block text-sm-left">
                <p class=" h5 d-md-none font-weight-bold  col-sm-3">Date</p>
                <p >{{order.date| formatDate}}</p>
            </div>
            <div class="col-12 col-md-2 p-0 d-block d-sm-flex d-md-block text-sm-left">
                <p class=" h5 d-md-none font-weight-bold col-sm-3">Customer</p>
                <p class="text-capitalize">{{order.user.username}}</p>
            </div>
            <div class="col-12 col-md-1 p-0 d-block d-sm-flex d-md-block text-sm-left">
                <p class=" h5 d-md-none font-weight-bold col-sm-3">Total Price</p>
                <p>{{order.totalprice}}</p>
            </div>
            <div class=" offset-4 offset-md-0 col-4 col-md-2 p-0 pb-4 pb-md-0 mt-sm-4 mt-md-0">
                <div class="p-1 ml-md-0 pr-3 pr-lg-0 pendingColor alert-info statusWidth text-center statusDiv " *ngIf='order.status == "pending"' disabled>
                    <i class="fas fa-ellipsis-h  mr-lg-2"></i>
                    Pending
                </div>
                <div class="p-1 pr-3 pr-lg-1 alert-danger statusWidth text-center statusDiv" *ngIf='order.status == "rejected"' disabled>
                    <i class="fas fa-times-circle mr-lg-2"></i>
                    Rejected
                </div>
                <div class="p-1 pr-3 pr-lg-0 alert-success statusWidth text-center statusDiv" *ngIf='order.status == "accepted"' disabled>
                    <i class="fas fa-check mr-lg-2"></i>
                    Accepted
                </div>
            </div>
            <div class="offset-3 offset-md-0 col-6  col-md-2 p-0 pb-4 pb-md-0">
                <button class="btn btn-success statusWidth  pr-3" (click)='acceptOrder(order._id)' *ngIf='order.status == "pending"'>Accept</button>
            </div>
            <div class="offset-3 offset-md-0 col-6  col-md-2 p-0">
                <button  class="btn btn-danger statusWidth pr-3" (click)='rejectOrder(order._id)' *ngIf='order.status == "pending"'>Reject</button>
            </div>

            <!-- <div class="offset-3 offset-md-0 col-6  col-md-2 p-0">
                <button class="btn btn-success statusWidth  pr-3" (click)='acceptOrder(order._id)' *ngIf='order.status == "pending"'>Accept</button>
                <button  class="btn btn-danger statusWidth pr-3 mt-3" (click)='rejectOrder(order._id)' *ngIf='order.status == "pending"'>Reject</button>
            </div> -->
            <hr class="col-12 p-0 m-0 mt-3 text-dark">
        </div>
    </div>
</div>