<div class="site-blocks-cover overlay" style="background-image: url(assets/images/hero_2.jpg);" data-aos="fade"
  data-stellar-background-ratio="0.5">
  <div class="container">
    <div class="row align-items-center justify-content-center">

      <div class="col-md-12" data-aos="fade-up" data-aos-delay="400">

        <div class="row mb-4">
          <div class="col-md-7">
            <h1>Shop With Us</h1>
            <!-- <p class="mb-5 lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam assumenda ea quo cupiditate facere deleniti fuga officia.</p> -->
            <div class="mt-5">
              <a (click)="redirectTo()"
                class="btn btn-white btn-outline-white py-3 px-5 rounded-0 mb-lg-0 mb-2 d-block d-sm-inline-block">Shop
                Now</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="site-section" id="products-section">
  <div class="container">
    <div class="row mb-5 justify-content-center">
      <div class="col-md-6 text-center">
        <h3 class="section-sub-title">Popular Products</h3>
        <h2 class="section-title mb-3">Our Products</h2>
      </div>
    </div>
    <div class="bg-dark offset-1 col-10 offset-lg-2 col-lg-8 shadow mt-5 p-5 rounded-top rounded-bottom mb-5"
      *ngIf="!Products || Products.length == 0">
      <h4 class="text-center " style="color: #f3864d;">No Products yet!</h4>
    </div>
    <div class="row" *ngIf="Products && Products.length != 0">
      <div class="col-10 mx-auto mx-md-0 col-lg-4 col-md-6 mb-5" *ngFor="let prod of Products">

        <div class="" style="z-index: 5; position: absolute;">
          <img class="" src="assets/images/sale.png" width="100" height="100" />
        </div>
        <div class="card text-white bg-dark mb-3">
          <img src="http://localhost:3000/uploads//{{prod.productimage}}" class="card-img-top" height="200" alt="...">
          <div class="card-body">
            <h5 class="card-title text-capitalize">
              Title : {{
                        prod.title
                    }}
            </h5>
            <p class="card-text">
              price : {{prod.price}}
            </p>
          </div>
          <a class="btn mx-auto ml-sm-3 mb-3 mb-sm-0" routerLinkActive="active" routerLink="../products/{{prod._id}}"
            style="background-color: #f16821;">More Details</a>
          <div class="card-footer">
            <small class="text-muted "> {{prod.details}}</small>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>