<div class="offset-md-1 col-md-10 col-12  mt-3 shadow p-0">
    <div class="bg-dark p-0 m-0 pt-2 pb-1 roundedTop row text-center text-md-left">
        <h2 class="text-light ml-lg-3 mt-3  col-12 ">Orders</h2>
    </div>
    <div class="bg-white row d-block m-0 p-0 roundedBottom text-center text-md-left">
        <div class="row p-0 pl-3 pr-2 pt-4  m-0 tableheadcolor d-none d-md-flex">
            <div class="col-2 p-0">
                <h6 class="ml-2" >Order</h6>
            </div>
            <div class="col-2 p-0">
                <h6>Date</h6>
            </div>
            <div class="col-2 p-0">
                <h6>Total Price</h6>
            </div>
            <div class="col-md-3 col-lg-2 p-0">
                <h6>Status</h6>
            </div>
            <div class="col-3 p-0">
            </div>
            <hr class="col-12 p-0 m-0 mt-2">
        </div>
        <div class="row p-0 pl-3 pr-2 pt-3 m-0 rowHover" *ngFor="let order of orders; let i=index" (click)='showDetails($event, order._id)'>
            <div class="col-12 col-md-2 p-0">
                <p class=" h3 d-md-none font-weight-bold text-large">Order</p>
                <p class="ml-2 h5 " >#{{i+1}}</p>
            </div>
            <div class="col-12 col-md-2 p-0">
                <p class=" h5 d-md-none font-weight-bold text-large">Date</p>
                <p>{{order.date| formatDate}}</p>
            </div>
            <div class="col-12 col-md-2 p-0">
                <p class=" h5 d-md-none font-weight-bold text-large">Total Price</p>
                <p>{{order.totalprice}}</p>
            </div>
            <div class="offset-4 offset-md-0 col-4 col-md-3 col-lg-2 p-0 pb-4 pb-md-0">
                <p class=" h5 d-md-none font-weight-bold text-large">Status</p>
                <div class="p-1 ml-md-0 pr-3 pr-lg-0 alert-secondary statusWidth text-center statusDiv " *ngIf='order.status == "pending"' disabled>
                    <i class="fas fa-ellipsis-h  mr-lg-2"></i>
                    Pending
                </div>
                <div class="p-1 pr-3 pr-lg-1 alert-danger statusWidth text-center statusDiv" *ngIf='order.status == "rejected"' disabled>
                    <i class="fas fa-times-circle mr-lg-2"></i>
                    Rejected
                </div>
                <div class="p-1 pr-3 pr-lg-0 alert-success statusWidth text-center statusDiv" *ngIf='order.status == "accepted"' disabled>
                    <i class="fas fa-check mr-lg-2"></i>
                    Accepted
                </div>
            </div>
            <div class="offset-3 offset-md-0 col-6 col-md-3 p-0">
                <button  class="btn btn-danger statusWidth " (click)='cancelOrder(order._id)' *ngIf='order.status == "pending"'>Cancel</button>
            </div>
            <hr class="col-12 p-0 m-0 mt-3">
        </div>
    </div>
</div>