<div class="row m-0 p-0 mt-5">
  <div class="offset-2 offset-sm-3 col-sm-6 offset-md-1 col-lg-3 col-md-4 col-8 mb-5">
    <div class="row p-0 m-0 image">
      <div class="card shadow p-3 mb-1 bg-white rounded">
        <div class="row p-0 m-0 d-block text-center">
          <p class="card-text  font-weight-bold orangeColor titleSize pb-3 pb-xl-5">Profile Image</p>
        </div>
        <div class="row p-0 m-0">
          <img class=" rounded mx-auto d-block mb-5" [src]="profileimage" alt="Card image cap" width="75%"
            height="60%">
        </div>


        <div class="row p-0 m-0 d-block text-center">
          <!-- /////////////// -->
          <div *ngIf="showImageModale" class="modal" id="imageModal" [ngClass]="{'show':showImageModale}">
            <div class="modal-dialog">
              <div class="modal-content pb-4">

                <!-- Modal Header -->
                <div class="modal-header">
                  <h4 class="modal-title">Upload Photo</h4>
                </div>

                <!-- Modal body -->
                <form class="form" [formGroup]="imageForm" novalidate (ngSubmit)="onImageUpdate()">
                  <div class="form-group pt-3">
                    <label for="file " class="font-weight-bold">Profile Image</label>
                    <input formControlName="profileimage" id="file" type="file" class="form-control btn btn-primary pb-1 my-3"
                      (change)="onFileChange($event)" >
                    <div *ngIf="f.profileimage.touched && f.profileimage.invalid" class="alert alert-danger">
                      <div *ngIf="f.profileimage.errors.required">Image is required.</div>
                    </div>
                  </div>
                  <button type="button" class="btn btn-primary float-right mr-5" type="submit">Edit</button>
                  <button type="button" class="btn btn-danger float-left ml-5" data-dismiss="modal">Close</button>
                </form>
              </div>
            </div>
          </div>
          <!-- ////////////// -->
          <a href="#" (click)="showImageModale = true" data-toggle="modal"
            data-target="#imageModal">
            <i class='fas fa-upload'></i>
            Upload
          </a>

        </div>
      </div>
    </div>
  </div>
  <!-- <div class="col-sm-1"></div> -->
  <div class="offset-1 offset-md-1 col-md-6 col-10">
    <div class="row p-0 m-0 personal_info ">
      <div class="card shadow p-0 p-3 pb-5 mb-5 bg-white rounded col-12 col-md-11 col-xl-9 ">
        <div class="row p-0 m-0">
          <p class="card-text font-weight-bold subTitleSize orangeColor ">Personal Information</p>
        </div>
        <div class="row p-0 m-0 mt-3">
          <div class="col-8 col-lg-10 p-0 pl-lg-5">
            <div class="text-secondary ml-5">Name: {{username}}</div>
            <br>
            <div class="text-secondary ml-5">Gender: {{gender}} </div>
          </div>
          <div class="col-4 col-lg-2 p-0">
            <div class="">
              <!-- //////////////////// -->
              <div *ngIf="showPersonalModale" class="modal" id="personalModal" [ngClass]="{'show':showPersonalModale}">
                <div class="modal-dialog">
                  <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                      <h4 class="modal-title">Update Persona Info</h4>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                      <form class="form" [formGroup]="personalForm" novalidate (ngSubmit)="onPersonalUpdate()">
                        <div class="form-group">
                          <label for="">UserName</label>
                          <input formControlName="username" type="text" class="form-control rounded-0"
                            [class.is-invalid]="p.username.invalid && p.username.touched" minlength="4" required>
                          <div *ngIf="submitted && p.username.invalid" class="alert alert-danger">
                            <div *ngIf="submitted && p.username.errors.required">
                              Name is required.
                            </div>
                            <div *ngIf="submitted && p.username.errors.minlength">
                              Name must be at least 4 characters long.
                            </div>
                          </div>
                        </div>
                        <div class="form-group">
                          <label for="">Gender</label>
                          <select class="form-control" formControlName="gender" required>
                            <option value="" selected disabled>Gender</option>
                            <option value="male"> Male</option>
                            <option value="female"> Female </option>
                          </select>
                          <div *ngIf="submitted && p.gender.errors" class="alert alert-danger">
                            <div *ngIf="p.gender.errors.required">gender is required</div>
                          </div>
                        </div>
                        <button type="button" class="btn btn-primary float-right" type="submit">Update</button>
                        <button type="button" class="btn btn-danger float-left" data-dismiss="modal">Close</button>
                      </form>
                    </div>

                  </div>
                </div>
              </div>

              <!-- /////////////////// -->
              <a href="#" class="edit" (click)="showPersonalModale = true" data-toggle="modal"
                data-target="#personalModal" class="col-12 p-0">
                <i class="fa fa-edit"></i>
                Edit
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="row p-0 m-0 account_info">
      <div class="card shadow p-0 pb-5 p-3 mb-5 bg-white rounded col-12 col-md-11 col-xl-9">
        <div class="row p-0 m-0">
          <p class="card-text font-weight-bold subTitleSize orangeColor">Account Details</p>
        </div>
        <div class="row p-0 m-0 mt-3">
          <div class="col-8 col-lg-10 p-0 pl-lg-5">
            <div class="text-secondary ml-5">Language: English </div>
            <br>
            <div class="text-secondary ml-5">Authorization: {{role}} </div>
          </div>
          <div class="col-4 col-lg-2 p-0"></div>
        </div>
      </div>
    </div>
    <br>
    <div class="row p-0 m-0 contact_info">
      <div class="card shadow  p-0 p-3 pb-5 mb-5 bg-white rounded  col-12 col-md-11 col-xl-9">
        <div class="row p-0 m-0 mt-3">
          <p class="card-text font-weight-bold subTitleSize orangeColor">Contact Information</p>
        </div>
        <div class="row p-0 m-0">
          <div class="col-8 col-lg-10 p-0 pl-lg-5">
            <div class="text-secondary ml-5">E-Mail: {{email}} </div>
            <br>
            <div class="text-secondary ml-5">Phone-Number: {{phone}} </div>
          </div>
          <div class="col-4 col-lg-2 p-0">
            <div class="">
              <!-- ///////////////////////////////////////////////////////// -->
              <div *ngIf="showContactModale" class="modal" id="contactModale" [ngClass]="{'show':showContactModale}">
                <div class="modal-dialog">
                  <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                      <h4 class="modal-title">Update Contact Info</h4>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                      <form class="form" [formGroup]="contactForm" novalidate (ngSubmit)="onContactUpdate()">
                        <div class="form-group">
                          <label for="">Email</label>
                          <input formControlName="email" type="text"
                            [class.is-invalid]="c.email.invalid && c.email.touched" class="form-control rounded-0"
                            required>
                          <div *ngIf="submitted && c.email.errors" class="alert alert-danger">
                            <div *ngIf="c.email.errors.required">Email is required</div>
                            <div *ngIf="c.email.errors.email">Email must be a valid email address</div>
                          </div>
                        </div>
                        <div class="form-group">
                          <label for="">Phone</label>
                          <input formControlName="phone" type="text"
                            [class.is-invalid]="c.phone.invalid && c.phone.touched" class="form-control rounded-0"
                            required>
                          <div *ngIf="submitted && c.phone.errors" class="alert alert-danger">
                            <div *ngIf="c.phone.errors.required">Phone is required</div>
                            <div *ngIf="c.phone.errors.pattern || c.phone.errors.maxLength || c.phone.errors.minlength">
                              Invalid Phone</div>
                          </div>
                        </div>
                        <button type="button" class="btn btn-primary float-right" type="submit">Update</button>
                        <button type="button" class="btn btn-danger float-left" data-dismiss="modal">Close</button>
                      </form>
                    </div>

                  </div>
                </div>
              </div>
              <!-- /////////////////////////////////////////////////////// -->
              <a href="#" class="edit" (click)="showContactModale = true" data-toggle="modal"
                data-target="#contactModale" class="col-12 p-0">
                <i class="fa fa-edit"></i>
                Edit
              </a>
            </div>
          </div>

        </div>


      </div>
    </div>
    <br>
    <div class="row p-0 m-0 security">
      <div class="card shadow p-0 p-3 pb-5 mb-5 bg-white rounded col-12 col-md-11 col-xl-9">
        <div class="row p-0 m-0 mt-3">
          <p class="card-text font-weight-bold subTitleSize orangeColor">Security</p>
        </div>
        <div class="row p-0 m-0">
          <div class="col-8 col-lg-10 p-0 pl-lg-5">
            <div class="text-secondary ml-5">Password: ************** </div>
          </div>
          <div class="col-4 col-lg-2 p-0">
            <div class="">
              <!-- /////////////////////////// -->

              <div *ngIf="showPasswordModale" class="modal" id="passwordModale" [ngClass]="{'show':showPasswordModale}">
                <div class="modal-dialog">
                  <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                      <h4 class="modal-title">Update Contact Info</h4>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                      <form class="form" [formGroup]="passwordForm" novalidate (ngSubmit)="onPasswordUpdate()">
                        <div class="form-group">
                          <label for="">New Password</label>
                          <input formControlName="password" type="password" class="form-control rounded-0"
                            [class.is-invalid]="pass.password.invalid && pass.password.touched" required>
                          <div *ngIf="submitted && pass.password.errors" class="alert alert-danger">
                            <div *ngIf="pass.password.errors.required">Password is required</div>
                            <div *ngIf="pass.password.errors.minlength">Password must be at least 6 characters</div>
                          </div>
                        </div>
                        <div class="form-group">
                          <label>Confirm Password</label>
                          <input type="password" formControlName="confirmPassword"
                            [class.is-invalid]="pass.confirmPassword.invalid && pass.confirmPassword.touched"
                            class="form-control" />
                          <div *ngIf="submitted && pass.confirmPassword.errors" class="alert alert-danger">
                            <div *ngIf="pass.confirmPassword.errors.required">Confirm Password is required</div>
                            <div *ngIf="pass.confirmPassword.errors.mustMatch">Passwords must match</div>
                          </div>
                        </div>

                        <button type="button" class="btn btn-primary float-right" type="submit">Update</button>
                        <button type="button" class="btn btn-danger float-left" data-dismiss="modal">Close</button>
                      </form>
                    </div>

                  </div>
                </div>
              </div>

              <!-- ////////////////////////// -->
              <a href="#" class="edit" (click)="showPasswordModale = true" data-toggle="modal"
                data-target="#passwordModale" class="col-12 p-0">
                <i class="fa fa-edit"></i>
                Edit
              </a>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>