.shadow{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.beigeColor{
    background-color: rgb(241, 241, 224);
    /* background-color: #ffe7cc; */
}

.orangeColor{
    color: #f16821;
}

.pendingColor{
    color: rgb(2, 2, 77) !important;
    border-color: rgb(2, 2, 77) !important;

}



